@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}
body {
    font-family: Roboto;
    margin: 0;
    width: 100vw;
    height: 100vh;
    border: solid gray 1px;
    border-radius: 0px;
}
.myThemplate {
    vertical-align: middle;
    display: block;
}
